<h1>Lista Clientes</h1>
<a href="{% url "nuevo_cliente" %}">Añadir Cliente</a>
<br>
<br>
{% for cliente in clientes  %}
	<h4>{{cliente}}</h4>
	

	<button type ="button" onclick="window.location='{% url "consulta_cliente" pk=cliente.id %}'"> Consultar </button>
	<button type ="button" onclick="window.location='{% url "eliminar_cliente" pk=cliente.id %}'"> Eliminar </button>
	<button type ="button" onclick="window.location='{% url "modificar_cliente" pk=cliente.id %}'"> Editar </button>

	
	<br>
{% endfor %}